<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>13</key>
	<dict>
		<key>introduction</key>
		<string>jkasjasjas</string>
		<key>pictureName</key>
		<string>碧光环</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>introduction</key>
		<string>sadasdada</string>
		<key>pictureName</key>
		<string>生石花</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>introduction</key>
		<string>dsadadasdas</string>
		<key>pictureName</key>
		<string>白凤</string>
		<key></key>
		<dict>
			<key>pictureName</key>
			<string>白凤</string>
			<key>maxState</key>
			<integer>1</integer>
		</dict>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>introduction</key>
		<string>adadasdqwd</string>
		<key>pictureName</key>
		<string>冰灯玉露</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>introduction</key>
		<string>sdadadada</string>
		<key>pictureName</key>
		<string>五十铃玉</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>introduction</key>
		<string>adadsda</string>
		<key>pictureName</key>
		<string>宝草</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>introduction</key>
		<string>adadadad</string>
		<key>pictureName</key>
		<string>鹿角海棠</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>introduction</key>
		<string>adadadwrwef</string>
		<key>pictureName</key>
		<string>零级花</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
	<key>18</key>
	<dict>
		<key>introduction</key>
		<string></string>
		<key>pictureName</key>
		<string>中华芦荟</string>
		<key>maxState</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
